<%= form_for @prize, :html => { :class => "form-horizontal prize" } do |f| %>

    <% if @prize.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@prize.errors.count, "error") %> prohibited this prize from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @prize.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :prize_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prize_level, :class => 'form-control' %>
    </div>
    <%= error_span(@prize[:prize_level]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@prize[:description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            prizes_path, :class => 'btn btn-default' %>

<% end %>
